<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p>
	Suck my Dickle.
	Want a Pickle? Try to reach us at
	<a href="http://russellschmidt.net">This Great Website</a> and
	send me a line. It will make your peenis so hard.
</p>